.dashboard{
    .banniere{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60vh;
        background-image: linear-gradient(to right top, #5031ec, #2f30c3, #142b9a, #072471, #0a1a49, #0f1945, #121842, #14173e, #231e5b, #392178, #552093, #7715ac);
        color: white;
        
    }

    

        .title{
            text-align: center;
            margin: 50px 0;
        }

        .key{
            margin: 30px auto;
            width: 40%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            height: 30vh !important;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 20px 0;
            gap: 20px 0;
            section{
                width: 80%;
                margin: auto;
                height: 35%;
                background-color: #00000023;
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg{
                    font-size: 25px;
                    cursor: pointer;
                    margin-right: 10px ;
                }

                b{
                    margin-left: 10px;
                    width: auto;
                }

                
            }


            button{
                height: 40%;
                background-image: linear-gradient(to right top, #5031ec, #2f30c3, #142b9a, #072471, #0a1a49, #0f1945, #121842, #14173e, #231e5b, #392178, #552093, #7715ac);
                width: 80%;
                border: none;
                color: white;
                margin: auto;

            }
        }

    

    
   
}           