.Home{
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 15vh;
        top: 0;
        position: fixed;
        backdrop-filter: blur(10px);

        h2{
            width: 60%;
            margin: 0 30px !important;


        }

        span{
            display: flex;
            justify-content: space-around;
            width: 20%;
            // background-color: black;
            height: 60%;
            margin: 0 30px !important;

            .b1{
                border: solid 1.5px #8c76f6 !important;
                background-color: transparent;
                color: #8c76f6  ;
                
            }

            .b2{
                border: none;
                background-color: #8c76f6  ;
                color: white;
                border: solid 1.5px #8c76f6 !important;

            }

            button{
            padding: 0 10px;

            a{
                font-size: 15px;
                text-decoration: none;
                color: var(--first-color);

            }
            }
        }
    }
    .h-banner{
background-image: radial-gradient(circle, #421ef8, #7d60ff, #ab95ff, #d5caff, #ffffff);        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        color: white;
        position: relative;



        button{
            border: none;
            background-color: transparent;
            padding: 10px;
            border: #ffffff solid 2px;

            a{
                text-decoration: none;
                color: #ffffff;
                font-size: 15px;
                
            }
        }
    }

    .clé{
        width: 50%;
        display: flex;
        margin: 50px auto;
        flex-direction: column;
        align-items: center;
        b{
         text-align: center;
        }

        img{
            margin: 50px 0;
            width: 30%;
            transform: rotate(80deg);
        }

        
            button{
                border: none;
                background-color: #8c76f6;
                color: white !important;
                // border: solid 1.5px #8c76f6 !important;
                padding: 15px 0;
                width: 35%;

                a{
                    font-size: 15px;
                    text-decoration: none;
                    color: white;
    
                }

                &:hover{
                    background-color: #20201e  ;
                    transition: all ease 0.7s;
                    
                   
                }
             }
        
    }

    .titre{
        text-align: center;
        margin: 30px 0;
        font-size: 50px
    }

    .about{
        display: flex;
        align-items: center;
        

        .left{
        display: flex;
        flex-direction: column;
        padding: 0 50px ;
        width: 50%;
        gap: 80px 0;

        h2{
            font-size: 50px;
        }

        p{
            font-size: 18px;
        }
        }

        .right{
            width: 50%;
            display: flex;
            img{
                width: 100%;
                height: 80vh;
            }

        }
    }

    .service{
        display: flex;
        width: 80%;
        justify-content: space-around;
        margin: 100px auto;
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;
            height: 50vh;
            gap: 50px 0;
            position: relative;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            p{
                text-align: center;

            }

            h3{
                font-size: 30px;
            }
            svg{
                font-size: 80px;
                position: absolute;
                top: -10%;
                padding: 10px;
                background-color: #8c76f6;
                border-radius: 100%;
                color: white;
            }

            &:hover{
                transition: all ease 0.7s;
                background-color: #8c76f6;
                color: white;
                svg{
                    background-color:white;
                    color: #8c76f6;
                }
            }

        }
    }

    .avis{
        display: flex;
        width: 100%;
        height: 90vh;
        align-items: center;



        
       
        .gauche{
            margin: 50px 0;
            position: relative;
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-image: linear-gradient(to right top, #8c76f6, #7762e1, #614ecc, #4a3ab7, #3227a3);
            clip-path: polygon(82% 0, 100% 50%, 82% 100%, 0 100%, 0 0);
            padding-right: 50px;

    
            // &::before{
            //     content: "";
            //     height: 95vh;
            //     width: 100%;
            //     position: absolute;
    
            // }
            h2{
                text-align: center;
                font-size: 40px;
               width: 40%;
               margin: 30px auto;      
               height: 10%;
               color: #8c76f6;          

            }

            img{
                width: 80%;
                margin: auto;
                height: 90%;
            }
            
        }


        
       
          
          
    }
}